/* CSS Boilerplate */

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
} */

/* CSS Boilerplate */ 


/* 

[Position - Absolute]

--> the element whose position is set to absolute, comes above the plane it was previously in, emptying the space which will be eventually covered by latter
    elements

[Position - Relative]

--> if i want my element which is inside some parent element to come
    out of the plane but always remain within the boundaries of parent-- use "position : relative" to the parent element
    when we do position relative to parent , the top, left, right and bottom works relative to tha parent
    without using position : left, top, right, bottom don't work
    fixed, sticky , static(default) are also types of position

in the order they were given absolute position , they will come on top it accordingly 
if three divs were there and we did all three absolute the last will come on the top then second then last will be first ... they get in layers
                     
if an element is position absolute but i want the element inside it to be always remain within its boundaries in that case, there is no need to worry when an element is position absolute , for its child elements it behaves as relative
*/